$pink: #F76F72;
$white: #FDFFFC;
$darkColor: #020100;
$blue: #235789;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: $blue;
}

.text-overflow {
    &-ellipsis {   
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &-title {
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
}

.nav {
    position: relative;

    &-logo {
        display: flex;
        align-items: center;
        height: 100px; 
        overflow: hidden;

        img {
            height: 200px;
        }
    }
    &-right {
        position: absolute;
        right: 3vw;
        top: 20px;
    }
}

.sidebar-menu {
    z-index: 100;
    min-width: 50px;
    width: 5vw;
    position: fixed;
    top: calc(50% - 50px);
    right: 0;
    display: flex;
    flex-direction: column;
    border: solid 3px $pink;
    border-right: none;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: $blue;
    align-items: center;

    svg {
        width: 1.5em;
        height: 2em;
        color: $pink;
    }
}

.hero-section {
    width: 100vw;
    height: calc(100vh - 100px);
    background: url('/images/books-and-cat.jpeg') no-repeat center center/cover;

    h1 {
        color: $white;
        font-size: 3rem;
        text-shadow: 2px 2px  $pink;
    }

    .login-section {
        h2 {
            text-align: center;
        }
    }

    .divider {
        margin: 30px 0;
        width: 100%;
        position: relative;
        border-bottom: solid 1px #ddd;  

        p {
            background-color: $white;
            position: absolute;
            top: -8px;
            right: calc(50% - 20px);
            text-align: center;
            width: 40px;
        }
    }

    .signup-section {
        display: flex;
        margin-top: 40px;
    }
}

.book-search {
    &-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}

.book-info {
    h3 {
        height: 45px;
    }
}

.list {
    margin: 50px 0;
    position: relative;

    &.shrink {
        height: 500px;
        overflow: hidden;
        

        &.added-recently {
            height: 560px;
        }
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .card {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 10px;
        padding: 20px 10px;
        border-radius: 0;

        &.review-thumbnail-card {
            height: fit-content;

            .btn-container {
                flex-direction: column;
                gap: 10px;
            }
        }

        .btn {
            width: 150px;
        }

        > div {
            width: 100%;
        }
    }

    .rating {
        margin-top: 15px;
        display: flex;
        gap: 5px;

        p {
            font-weight: bold;
            padding-top: 5px;
        }
    }   

    .more {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.footer {
    height: 100px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
}